body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.listaNav{
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  
}
li a{
  padding: 10px;
}
h2{
  display: flex;
 position: absolute;
 padding-top:20px;
}


.imagenCarrito img{
  width: 40px !important;
  height: 40px !important;
}